body {
    font-family: 'Times New Roman', serif;
    background-color: lightyellow;
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    color: darkgreen;
    font-size: 18px;
}
